# Conditional filtering

Windows

In [1]:
# Import the libraries
import os
import pandas as pd

# Read the data from a CSV file
# Get the absolute path to the current notebook
os_path = os.getcwd()
# Add the extra path to the dataset file
dataset_path = os_path+'\datasets\Online_Retail.csv'
retail_data = pd.read_csv(dataset_path, encoding='ISO-8859-1')

# Convert the column "InvoiceDate" to a datetime type
retail_data['InvoiceDate'] = pd.to_datetime(retail_data['InvoiceDate'])

# Delete the rows in important columns with empty values
retail_data.dropna(subset=['CustomerID', 'InvoiceDate'], inplace=True)

# Create a new column 'TotalPrice'
retail_data['TotalPrice'] = retail_data['Quantity'] * retail_data['UnitPrice']

retail_data.head()

C:\Users\PC\AppData\Local\Temp\ipykernel_6120\376822541.py:13: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  retail_data['InvoiceDate'] = pd.to_datetime(retail_data['InvoiceDate'])

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

## Filter for a specific element

Filter only the sales made to Malta

In [2]:
malta_sales = retail_data[retail_data['Country'] == 'Malta']
malta_sales

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
217684,555931,22784,LANTERN CREAM GAZEBO,3,2011-06-08 08:31:00,4.95,17828.0,Malta,14.85
217685,555931,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2011-06-08 08:31:00,2.95,17828.0,Malta,17.70
217686,555931,21733,RED HANGING HEART T-LIGHT HOLDER,6,2011-06-08 08:31:00,2.95,17828.0,Malta,17.70
217687,555931,21126,SET OF 6 GIRLS CELEBRATION CANDLES,12,2011-06-08 08:31:00,1.25,17828.0,Malta,15.00
217688,555931,72140E,BEST DAD CANDLE LETTERS,6,2011-06-08 08:31:00,0.85,17828.0,Malta,5.10
...,...,...,...,...,...,...,...,...,...
516550,C579929,22768,FAMILY PHOTO FRAME CORNICE,-2,2011-12-01 09:34:00,9.95,17828.0,Malta,-19.90
516551,C579929,85034C,3 ROSE MORRIS BOXED CANDLES,-1,2011-12-01 09:34:00,1.25,17828.0,Malta,-1.25
516552,C579929,72807C,SET/3 VANILLA SCENTED CANDLE IN BOX,-1,2011-12-01 09:34:00,4.25,17828.0,Malta,-4.25
516553,C579929,22307,GOLD MUG BONE CHINA TREE OF LIFE,-1,2011-12-01 09:34:00,1.06,17828.0,Malta,-1.06
516554,C579929,72741,GRAND CHOCOLATECANDLE,-3,2011-12-01 09:34:00,1.45,17828.0,Malta,-4.35

## Filter by quantity

In [4]:
quantity_20 = retail_data[retail_data['Quantity'] == 20]
quantity_20

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
38,536370,22661,CHARLOTTE BAG DOLLY GIRL DESIGN,20,2010-12-01 08:45:00,0.85,12583.0,France,17.0
263,536394,22652,TRAVEL SEWING KIT,20,2010-12-01 10:39:00,1.65,13408.0,United Kingdom,33.0
1105,536526,21929,JUMBO BAG PINK VINTAGE PAISLEY,20,2010-12-01 12:58:00,1.95,14001.0,United Kingdom,39.0
1312,536533,22680,FRENCH BLUE METAL DOOR SIGN 5,20,2010-12-01 13:31:00,1.25,16955.0,United Kingdom,25.0
1427,536542,22383,LUNCH BAG SUKI DESIGN,20,2010-12-01 14:11:00,1.65,16456.0,United Kingdom,33.0
...,...,...,...,...,...,...,...,...,...
541232,581496,22664,TOY TIDY DOLLY GIRL DESIGN,20,2011-12-09 10:20:00,0.79,16558.0,United Kingdom,15.8
541608,581514,22069,BROWN PIRATE TREASURE CHEST,20,2011-12-09 11:20:00,0.39,17754.0,United Kingdom,7.8
541727,581570,23077,DOUGHNUT LIP GLOSS,20,2011-12-09 11:59:00,1.25,12662.0,Germany,25.0
541832,581579,23201,JUMBO BAG ALPHABET,20,2011-12-09 12:19:00,1.79,17581.0,United Kingdom,35.8
541834,581579,23344,JUMBO BAG 50'S CHRISTMAS,20,2011-12-09 12:19:00,1.79,17581.0,United Kingdom,35.8

## Filter by Quantity and Specific element

Get only the rows with France as a country and with exactly 20 sales.

In [7]:
retail_fra_greater_20 = retail_data[(retail_data['Quantity'] == 20) & (retail_data['Country'] == 'France')]
retail_fra_greater_20

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
38,536370,22661,CHARLOTTE BAG DOLLY GIRL DESIGN,20,2010-12-01 08:45:00,0.85,12583.0,France,17.0
7914,537065,20726,LUNCH BAG WOODLAND,20,2010-12-05 11:57:00,1.65,12567.0,France,33.0
19840,537897,22661,CHARLOTTE BAG DOLLY GIRL DESIGN,20,2010-12-09 10:37:00,0.85,12683.0,France,17.0
20083,538008,22437,SET OF 9 BLACK SKULL BALLOONS,20,2010-12-09 12:17:00,0.85,12683.0,France,17.0
23287,538196,48138,DOORMAT UNION FLAG,20,2010-12-10 10:56:00,6.75,12731.0,France,135.0
...,...,...,...,...,...,...,...,...,...
518832,580120,85099B,JUMBO BAG RED RETROSPOT,20,2011-12-01 16:38:00,2.08,12553.0,France,41.6
519669,580160,23508,MINI PLAYING CARDS DOLLY GIRL,20,2011-12-02 10:47:00,0.42,12700.0,France,8.4
523369,580509,23077,DOUGHNUT LIP GLOSS,20,2011-12-04 13:45:00,1.25,12719.0,France,25.0
524171,580536,23199,JUMBO BAG APPLES,20,2011-12-04 16:07:00,2.08,12490.0,France,41.6
529618,580736,22437,SET OF 9 BLACK SKULL BALLOONS,20,2011-12-06 08:55:00,0.85,12716.0,France,17.0

## Filter by Year

Get the rows made in the year 2010

In [8]:
sales_2010 = retail_data[retail_data['InvoiceDate'].dt.year == 2010]
sales_2010

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
42448,539988,84380,SET OF 3 BUTTERFLY COOKIE CUTTERS,1,2010-12-23 16:06:00,1.25,18116.0,United Kingdom,1.25
42449,539988,84849D,HOT BATHS SOAP HOLDER,1,2010-12-23 16:06:00,1.69,18116.0,United Kingdom,1.69
42450,539988,84849B,FAIRY SOAP SOAP HOLDER,1,2010-12-23 16:06:00,1.69,18116.0,United Kingdom,1.69
42451,539988,22854,CREAM SWEETHEART EGG HOLDER,2,2010-12-23 16:06:00,4.95,18116.0,United Kingdom,9.90
42452,539988,47559B,TEA TIME OVEN GLOVE,2,2010-12-23 16:06:00,1.25,18116.0,United Kingdom,2.50

Get the sales made in the year 2010 only in Germany

In [9]:
sales_germany_2010 = retail_data[
    (retail_data["InvoiceDate"].dt.year == 2010) & (retail_data["Country"] == "Germany")
]
sales_germany_2010

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
1109,536527,22809,SET OF 6 T-LIGHTS SANTA,6,2010-12-01 13:04:00,2.95,12662.0,Germany,17.70
1110,536527,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,6,2010-12-01 13:04:00,2.55,12662.0,Germany,15.30
1111,536527,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,12,2010-12-01 13:04:00,0.85,12662.0,Germany,10.20
1112,536527,22242,5 HOOK HANGER MAGIC TOADSTOOL,12,2010-12-01 13:04:00,1.65,12662.0,Germany,19.80
1113,536527,22244,3 HOOK HANGER MAGIC GARDEN,12,2010-12-01 13:04:00,1.95,12662.0,Germany,23.40
...,...,...,...,...,...,...,...,...,...
41757,539957,22533,MAGIC DRAWING SLATE BAKE A CAKE,24,2010-12-23 12:58:00,0.42,12585.0,Germany,10.08
41758,539957,22534,MAGIC DRAWING SLATE SPACEBOY,24,2010-12-23 12:58:00,0.42,12585.0,Germany,10.08
41759,539957,22634,CHILDS BREAKFAST SET SPACEBOY,2,2010-12-23 12:58:00,9.95,12585.0,Germany,19.90
41760,539957,22555,PLASTERS IN TIN STRONGMAN,12,2010-12-23 12:58:00,1.65,12585.0,Germany,19.80
41761,539957,POST,POSTAGE,6,2010-12-23 12:58:00,18.00,12585.0,Germany,108.00

## Filter by year and month

Get the sales made in the UK in the year 2011 in the month of December

In [10]:
sales_uk_2011 = retail_data[
    (retail_data["InvoiceDate"].dt.year == 2011) & (retail_data["InvoiceDate"].dt.month == 12) & (retail_data["Country"] == "United Kingdom")
]
sales_uk_2011

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
516384,C579889,23245,SET OF 3 REGENCY CAKE TINS,-8,2011-12-01 08:12:00,4.15,13853.0,United Kingdom,-33.20
516385,C579890,84947,ANTIQUE SILVER TEA GLASS ENGRAVED,-1,2011-12-01 08:14:00,1.25,15197.0,United Kingdom,-1.25
516386,C579890,23374,RED SPOT PAPER GIFT BAG,-1,2011-12-01 08:14:00,0.82,15197.0,United Kingdom,-0.82
516387,C579890,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,-2,2011-12-01 08:14:00,0.85,15197.0,United Kingdom,-1.70
516388,C579891,23485,BOTANICAL GARDENS WALL CLOCK,-1,2011-12-01 08:18:00,25.00,13644.0,United Kingdom,-25.00
...,...,...,...,...,...,...,...,...,...
541889,581585,22466,FAIRY TALE COTTAGE NIGHT LIGHT,12,2011-12-09 12:31:00,1.95,15804.0,United Kingdom,23.40
541890,581586,22061,LARGE CAKE STAND HANGING STRAWBERY,8,2011-12-09 12:49:00,2.95,13113.0,United Kingdom,23.60
541891,581586,23275,SET OF 3 HANGING OWLS OLLIE BEAK,24,2011-12-09 12:49:00,1.25,13113.0,United Kingdom,30.00
541892,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113.0,United Kingdom,214.80
541893,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113.0,United Kingdom,70.80