# Conditional filtering

Windows

In [1]:
# Import the libraries
import os
import pandas as pd

# Read the data from a CSV file
# Get the absolute path to the current notebook
os_path = os.getcwd()
# Add the extra path to the dataset file
dataset_path = os_path+'\datasets\Online_Retail.csv'
retail_data = pd.read_csv(dataset_path, encoding='ISO-8859-1')

# Convert the column "InvoiceDate" to a datetime type
retail_data['InvoiceDate'] = pd.to_datetime(retail_data['InvoiceDate'])

# Delete the rows in important columns with empty values
retail_data.dropna(subset=['CustomerID', 'InvoiceDate'], inplace=True)

# Create a new column 'TotalPrice'
retail_data['TotalPrice'] = retail_data['Quantity'] * retail_data['UnitPrice']

retail_data

C:\Users\PC\AppData\Local\Temp\ipykernel_15592\2939207812.py:13: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  retail_data['InvoiceDate'] = pd.to_datetime(retail_data['InvoiceDate'])

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85

## Filter for a specific element

Filter only the sales made to Malta

In [2]:
malta_sales = retail_data[retail_data['Country'] == 'Malta']
malta_sales

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
217684,555931,22784,LANTERN CREAM GAZEBO,3,2011-06-08 08:31:00,4.95,17828.0,Malta,14.85
217685,555931,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2011-06-08 08:31:00,2.95,17828.0,Malta,17.70
217686,555931,21733,RED HANGING HEART T-LIGHT HOLDER,6,2011-06-08 08:31:00,2.95,17828.0,Malta,17.70
217687,555931,21126,SET OF 6 GIRLS CELEBRATION CANDLES,12,2011-06-08 08:31:00,1.25,17828.0,Malta,15.00
217688,555931,72140E,BEST DAD CANDLE LETTERS,6,2011-06-08 08:31:00,0.85,17828.0,Malta,5.10
...,...,...,...,...,...,...,...,...,...
516550,C579929,22768,FAMILY PHOTO FRAME CORNICE,-2,2011-12-01 09:34:00,9.95,17828.0,Malta,-19.90
516551,C579929,85034C,3 ROSE MORRIS BOXED CANDLES,-1,2011-12-01 09:34:00,1.25,17828.0,Malta,-1.25
516552,C579929,72807C,SET/3 VANILLA SCENTED CANDLE IN BOX,-1,2011-12-01 09:34:00,4.25,17828.0,Malta,-4.25
516553,C579929,22307,GOLD MUG BONE CHINA TREE OF LIFE,-1,2011-12-01 09:34:00,1.06,17828.0,Malta,-1.06
516554,C579929,72741,GRAND CHOCOLATECANDLE,-3,2011-12-01 09:34:00,1.45,17828.0,Malta,-4.35

## Filter by quantity

In [4]:
quantity_20 = retail_data[retail_data['Quantity'] == 20]
quantity_20

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
38,536370,22661,CHARLOTTE BAG DOLLY GIRL DESIGN,20,2010-12-01 08:45:00,0.85,12583.0,France,17.0
263,536394,22652,TRAVEL SEWING KIT,20,2010-12-01 10:39:00,1.65,13408.0,United Kingdom,33.0
1105,536526,21929,JUMBO BAG PINK VINTAGE PAISLEY,20,2010-12-01 12:58:00,1.95,14001.0,United Kingdom,39.0
1312,536533,22680,FRENCH BLUE METAL DOOR SIGN 5,20,2010-12-01 13:31:00,1.25,16955.0,United Kingdom,25.0
1427,536542,22383,LUNCH BAG SUKI DESIGN,20,2010-12-01 14:11:00,1.65,16456.0,United Kingdom,33.0
...,...,...,...,...,...,...,...,...,...
541232,581496,22664,TOY TIDY DOLLY GIRL DESIGN,20,2011-12-09 10:20:00,0.79,16558.0,United Kingdom,15.8
541608,581514,22069,BROWN PIRATE TREASURE CHEST,20,2011-12-09 11:20:00,0.39,17754.0,United Kingdom,7.8
541727,581570,23077,DOUGHNUT LIP GLOSS,20,2011-12-09 11:59:00,1.25,12662.0,Germany,25.0
541832,581579,23201,JUMBO BAG ALPHABET,20,2011-12-09 12:19:00,1.79,17581.0,United Kingdom,35.8
541834,581579,23344,JUMBO BAG 50'S CHRISTMAS,20,2011-12-09 12:19:00,1.79,17581.0,United Kingdom,35.8

## Filter using Multiple Conditions

You can combine multiple boolean conditions using the pandas' logic operators:

- `&` para *AND*.

- `|` para *OR*.

- `~` para *NOT*.

Remember always enclose in parenthesis `()` every boolean condition.

Get only the rows with France as a country and with exactly 20 sales.

In [7]:
retail_fra_greater_20 = retail_data[(retail_data['Quantity'] == 20) & (retail_data['Country'] == 'France')]
retail_fra_greater_20

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
38,536370,22661,CHARLOTTE BAG DOLLY GIRL DESIGN,20,2010-12-01 08:45:00,0.85,12583.0,France,17.0
7914,537065,20726,LUNCH BAG WOODLAND,20,2010-12-05 11:57:00,1.65,12567.0,France,33.0
19840,537897,22661,CHARLOTTE BAG DOLLY GIRL DESIGN,20,2010-12-09 10:37:00,0.85,12683.0,France,17.0
20083,538008,22437,SET OF 9 BLACK SKULL BALLOONS,20,2010-12-09 12:17:00,0.85,12683.0,France,17.0
23287,538196,48138,DOORMAT UNION FLAG,20,2010-12-10 10:56:00,6.75,12731.0,France,135.0
...,...,...,...,...,...,...,...,...,...
518832,580120,85099B,JUMBO BAG RED RETROSPOT,20,2011-12-01 16:38:00,2.08,12553.0,France,41.6
519669,580160,23508,MINI PLAYING CARDS DOLLY GIRL,20,2011-12-02 10:47:00,0.42,12700.0,France,8.4
523369,580509,23077,DOUGHNUT LIP GLOSS,20,2011-12-04 13:45:00,1.25,12719.0,France,25.0
524171,580536,23199,JUMBO BAG APPLES,20,2011-12-04 16:07:00,2.08,12490.0,France,41.6
529618,580736,22437,SET OF 9 BLACK SKULL BALLOONS,20,2011-12-06 08:55:00,0.85,12716.0,France,17.0

## Filter by Year

Get the rows made in the year 2010

In [8]:
sales_2010 = retail_data[retail_data['InvoiceDate'].dt.year == 2010]
sales_2010

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
42448,539988,84380,SET OF 3 BUTTERFLY COOKIE CUTTERS,1,2010-12-23 16:06:00,1.25,18116.0,United Kingdom,1.25
42449,539988,84849D,HOT BATHS SOAP HOLDER,1,2010-12-23 16:06:00,1.69,18116.0,United Kingdom,1.69
42450,539988,84849B,FAIRY SOAP SOAP HOLDER,1,2010-12-23 16:06:00,1.69,18116.0,United Kingdom,1.69
42451,539988,22854,CREAM SWEETHEART EGG HOLDER,2,2010-12-23 16:06:00,4.95,18116.0,United Kingdom,9.90
42452,539988,47559B,TEA TIME OVEN GLOVE,2,2010-12-23 16:06:00,1.25,18116.0,United Kingdom,2.50

Get the sales made in the year 2010 only in Germany

In [9]:
sales_germany_2010 = retail_data[
    (retail_data["InvoiceDate"].dt.year == 2010) & (retail_data["Country"] == "Germany")
]
sales_germany_2010

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
1109,536527,22809,SET OF 6 T-LIGHTS SANTA,6,2010-12-01 13:04:00,2.95,12662.0,Germany,17.70
1110,536527,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,6,2010-12-01 13:04:00,2.55,12662.0,Germany,15.30
1111,536527,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,12,2010-12-01 13:04:00,0.85,12662.0,Germany,10.20
1112,536527,22242,5 HOOK HANGER MAGIC TOADSTOOL,12,2010-12-01 13:04:00,1.65,12662.0,Germany,19.80
1113,536527,22244,3 HOOK HANGER MAGIC GARDEN,12,2010-12-01 13:04:00,1.95,12662.0,Germany,23.40
...,...,...,...,...,...,...,...,...,...
41757,539957,22533,MAGIC DRAWING SLATE BAKE A CAKE,24,2010-12-23 12:58:00,0.42,12585.0,Germany,10.08
41758,539957,22534,MAGIC DRAWING SLATE SPACEBOY,24,2010-12-23 12:58:00,0.42,12585.0,Germany,10.08
41759,539957,22634,CHILDS BREAKFAST SET SPACEBOY,2,2010-12-23 12:58:00,9.95,12585.0,Germany,19.90
41760,539957,22555,PLASTERS IN TIN STRONGMAN,12,2010-12-23 12:58:00,1.65,12585.0,Germany,19.80
41761,539957,POST,POSTAGE,6,2010-12-23 12:58:00,18.00,12585.0,Germany,108.00

## Filter by year and month

Get the sales made in the UK in the year 2011 in the month of December

In [10]:
sales_uk_2011 = retail_data[
    (retail_data["InvoiceDate"].dt.year == 2011) & (retail_data["InvoiceDate"].dt.month == 12) & (retail_data["Country"] == "United Kingdom")
]
sales_uk_2011

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
516384,C579889,23245,SET OF 3 REGENCY CAKE TINS,-8,2011-12-01 08:12:00,4.15,13853.0,United Kingdom,-33.20
516385,C579890,84947,ANTIQUE SILVER TEA GLASS ENGRAVED,-1,2011-12-01 08:14:00,1.25,15197.0,United Kingdom,-1.25
516386,C579890,23374,RED SPOT PAPER GIFT BAG,-1,2011-12-01 08:14:00,0.82,15197.0,United Kingdom,-0.82
516387,C579890,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,-2,2011-12-01 08:14:00,0.85,15197.0,United Kingdom,-1.70
516388,C579891,23485,BOTANICAL GARDENS WALL CLOCK,-1,2011-12-01 08:18:00,25.00,13644.0,United Kingdom,-25.00
...,...,...,...,...,...,...,...,...,...
541889,581585,22466,FAIRY TALE COTTAGE NIGHT LIGHT,12,2011-12-09 12:31:00,1.95,15804.0,United Kingdom,23.40
541890,581586,22061,LARGE CAKE STAND HANGING STRAWBERY,8,2011-12-09 12:49:00,2.95,13113.0,United Kingdom,23.60
541891,581586,23275,SET OF 3 HANGING OWLS OLLIE BEAK,24,2011-12-09 12:49:00,1.25,13113.0,United Kingdom,30.00
541892,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113.0,United Kingdom,214.80
541893,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113.0,United Kingdom,70.80

## Filter by using the `isin()` method

This method is iseful to find elements within a column or Series that match with specific values.

In [2]:
filter_isin = retail_data[retail_data['Country'].isin(['Spain', 'Monaco'])]
filter_isin

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
6421,536944,22383,LUNCH BAG SUKI DESIGN,70,2010-12-03 12:20:00,1.65,12557.0,Spain,115.50
6422,536944,22384,LUNCH BAG PINK POLKADOT,100,2010-12-03 12:20:00,1.45,12557.0,Spain,145.00
6423,536944,20727,LUNCH BAG BLACK SKULL.,60,2010-12-03 12:20:00,1.65,12557.0,Spain,99.00
6424,536944,20725,LUNCH BAG RED RETROSPOT,70,2010-12-03 12:20:00,1.65,12557.0,Spain,115.50
6425,536944,20728,LUNCH BAG CARS BLUE,100,2010-12-03 12:20:00,1.45,12557.0,Spain,145.00
...,...,...,...,...,...,...,...,...,...
535271,581193,23291,DOLLY GIRL CHILDRENS CUP,2,2011-12-07 17:05:00,1.25,17097.0,Spain,2.50
535272,581193,85232D,SET/3 DECOUPAGE STACKING TINS,1,2011-12-07 17:05:00,4.95,17097.0,Spain,4.95
535273,581193,22721,SET OF 3 CAKE TINS SKETCHBOOK,2,2011-12-07 17:05:00,1.95,17097.0,Spain,3.90
535274,581193,23241,TREASURE TIN GYMKHANA DESIGN,1,2011-12-07 17:05:00,2.08,17097.0,Spain,2.08
535275,581193,23247,BISCUIT TIN 50'S CHRISTMAS,1,2011-12-07 17:05:00,2.89,17097.0,Spain,2.89

## Filter empty or null values

In this example, there are not empty (`None`, `null`, etc) values.

In [7]:
filter_nulls = retail_data[retail_data['Description'].isnull()]
filter_nulls

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country, TotalPrice]
Index: []

## Filter complex conditions using the `query()` method

Pandas provides the `query()` method to filter using conditions wit SQL similar syntaxis.

In [13]:
# Filter rows where the TotalPrice is bigger that 400.00 and Quantity is less than 30
filter_query_totalprice = retail_data.query('TotalPrice > 400 and Quantity < 30')
filter_query_totalprice

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
16437,537659,21769,VINTAGE POST OFFICE CABINET,10,2010-12-07 16:43:00,52.77,18102.0,United Kingdom,527.70
32785,539144,84078A,SET/4 WHITE RETRO STORAGE CUBES,16,2010-12-16 11:36:00,34.95,12980.0,United Kingdom,559.20
33986,539312,84078A,SET/4 WHITE RETRO STORAGE CUBES,12,2010-12-16 18:01:00,34.95,15197.0,United Kingdom,419.40
54305,540908,84078A,SET/4 WHITE RETRO STORAGE CUBES,16,2011-01-12 11:53:00,34.95,12980.0,United Kingdom,559.20
61549,541426,22823,CHEST NATURAL WOOD 20 DRAWERS,4,2011-01-18 08:44:00,110.00,18233.0,United Kingdom,440.00
...,...,...,...,...,...,...,...,...,...
475499,576897,POST,POSTAGE,7,2011-11-17 08:41:00,65.00,17828.0,Malta,455.00
490300,578042,22826,LOVE SEAT ANTIQUE WHITE METAL,6,2011-11-22 14:25:00,85.00,17500.0,United Kingdom,510.00
494728,578270,DOT,DOTCOM POSTAGE,1,2011-11-23 13:39:00,1270.06,14096.0,United Kingdom,1270.06
508459,579196,DOT,DOTCOM POSTAGE,1,2011-11-28 15:54:00,1526.76,14096.0,United Kingdom,1526.76
528082,580727,DOT,DOTCOM POSTAGE,1,2011-12-05 17:17:00,1599.26,14096.0,United Kingdom,1599.26

## Filter by text in strings using `str.contains()`

If you need to find a substring in a chain of text, then the method for you is `str.contains()` to search patterns in columns of type `string`.

In this example, search for all rows that contain the sub-string `SPACE` in the **Decription**.

In [14]:
filter_strcontains = retail_data[retail_data['Description'].str.contains('SPACE')]
filter_strcontains

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
35,536370,22629,SPACEBOY LUNCH BOX,24,2010-12-01 08:45:00,1.95,12583.0,France,46.80
43,536370,22544,MINI JIGSAW SPACEBOY,24,2010-12-01 08:45:00,0.42,12583.0,France,10.08
369,536401,22382,LUNCH BAG SPACEBOY DESIGN,2,2010-12-01 11:21:00,1.65,15862.0,United Kingdom,3.30
402,536404,21062,PARTY INVITES SPACEMAN,12,2010-12-01 11:29:00,0.85,16218.0,United Kingdom,10.20
405,536404,22964,3 PIECE SPACEBOY COOKIE CUTTER SET,12,2010-12-01 11:29:00,2.10,16218.0,United Kingdom,25.20
...,...,...,...,...,...,...,...,...,...
541772,581578,23389,SPACEBOY MINI BACKPACK,4,2011-12-09 12:16:00,4.15,12713.0,Germany,16.60
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,2011-12-09 12:50:00,1.95,12680.0,France,15.60
541902,581587,22629,SPACEBOY LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680.0,France,23.40
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,10.20

## Filter using indexes

To filter using the indexes of a row you can use `loc[]` and `iloc[]`. Check the next example:

In [17]:
# Get only the indexes 2 and 43
filter_index_0and43 = retail_data.loc[[2,43]]
filter_index_0and43

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
43,536370,22544,MINI JIGSAW SPACEBOY,24,2010-12-01 08:45:00,0.42,12583.0,France,10.08

In [18]:
# Get the indexes 35 to 43
filter_index_35to43 = retail_data.iloc[35:44]
filter_index_35to43

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
35,536370,22629,SPACEBOY LUNCH BOX,24,2010-12-01 08:45:00,1.95,12583.0,France,46.80
36,536370,22659,LUNCH BOX I LOVE LONDON,24,2010-12-01 08:45:00,1.95,12583.0,France,46.80
37,536370,22631,CIRCUS PARADE LUNCH BOX,24,2010-12-01 08:45:00,1.95,12583.0,France,46.80
38,536370,22661,CHARLOTTE BAG DOLLY GIRL DESIGN,20,2010-12-01 08:45:00,0.85,12583.0,France,17.00
39,536370,21731,RED TOADSTOOL LED NIGHT LIGHT,24,2010-12-01 08:45:00,1.65,12583.0,France,39.60
40,536370,22900,SET 2 TEA TOWELS I LOVE LONDON,24,2010-12-01 08:45:00,2.95,12583.0,France,70.80
41,536370,21913,VINTAGE SEASIDE JIGSAW PUZZLES,12,2010-12-01 08:45:00,3.75,12583.0,France,45.00
42,536370,22540,MINI JIGSAW CIRCUS PARADE,24,2010-12-01 08:45:00,0.42,12583.0,France,10.08
43,536370,22544,MINI JIGSAW SPACEBOY,24,2010-12-01 08:45:00,0.42,12583.0,France,10.08

## Filter only unique rows using `drop_duplicates()`

The `drop_duplicates()` is ised to filter the duplicated rows.

In [19]:
filter_duplicates = retail_data.drop_duplicates()
filter_duplicates

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85

Remove duplicated rows only based on specific columns, apply it to countries to get only a different country on each row.

In [21]:
filter_duplicates_row = retail_data.drop_duplicates(subset='Country')
filter_duplicates_row

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583.0,France,90.00
197,536389,22941,CHRISTMAS LIGHTS 10 REINDEER,6,2010-12-01 10:03:00,8.50,12431.0,Australia,51.00
385,536403,22867,HAND WARMER BIRD DESIGN,96,2010-12-01 11:27:00,1.85,12791.0,Netherlands,177.60
1109,536527,22809,SET OF 6 T-LIGHTS SANTA,6,2010-12-01 13:04:00,2.95,12662.0,Germany,17.70
1236,536532,84692,BOX OF 24 COCKTAIL PARASOLS,50,2010-12-01 13:24:00,0.42,12433.0,Norway,21.00
1404,536540,22968,ROSE COTTAGE KEEPSAKE BOX,4,2010-12-01 14:05:00,9.95,14911.0,EIRE,39.80
5320,536858,22326,ROUND SNACK BOXES SET OF4 WOODLAND,30,2010-12-03 10:36:00,2.95,13520.0,Switzerland,88.50
6421,536944,22383,LUNCH BAG SUKI DESIGN,70,2010-12-03 12:20:00,1.65,12557.0,Spain,115.50
6608,536971,21733,RED HANGING HEART T-LIGHT HOLDER,32,2010-12-03 13:40:00,2.55,12779.0,Poland,81.60
7134,536990,21992,VINTAGE PAISLEY STATIONERY SET,6,2010-12-03 15:14:00,2.95,12793.0,Portugal,17.70
7214,537022,22791,T-LIGHT GLASS FLUTED ANTIQUE,12,2010-12-03 15:45:00,1.25,12725.0,Italy,15.00
7279,537026,84375,SET OF 20 KIDS COOKIE CUTTERS,12,2010-12-03 16:35:00,2.10,12395.0,Belgium,25.20
7986,537081,22409,MONEY BOX BISCUITS DESIGN,12,2010-12-05 12:00:00,1.25,15332.0,Lithuania,15.00
9783,537218,85016,SET OF 6 VINTAGE NOTELETS KIT,6,2010-12-05 15:46:00,2.55,12763.0,Japan,15.30
14938,537626,85116,BLACK CANDELABRA T-LIGHT HOLDER,12,2010-12-07 14:57:00,2.10,12347.0,Iceland,25.20
20000,538002,22690,DOORMAT HOME SWEET HOME BLUE,2,2010-12-09 11:48:00,7.95,14932.0,Channel Islands,15.90
20017,538003,22847,BREAD BIN DINER STYLE IVORY,8,2010-12-09 12:05:00,14.95,12429.0,Denmark,119.60
29732,538826,85123A,WHITE HANGING HEART T-LIGHT HOLDER,64,2010-12-14 12:58:00,2.55,12370.0,Cyprus,163.20
30078,C538847,85232B,SET OF 3 BABUSHKA STACKING TINS,-240,2010-12-14 13:27:00,4.95,17404.0,Sweden,-1188.00
31464,C538971,22153,ANGEL DECORATION STARS ON DRESS,-48,2010-12-15 11:39:00,0.42,12865.0,Austria,-20.16
31982,C539037,84792,ENCHANTED BIRD COATHANGER 5 HOOK,-24,2010-12-15 14:42:00,3.81,12666.0,Israel,-91.44
34083,539318,84992,72 SWEETHEART FAIRY CAKE CASES,72,2010-12-16 19:09:00,0.55,12348.0,Finland,39.60
69007,541932,22699,ROSES REGENCY TEACUP AND SAUCER,24,2011-01-24 11:39:00,2.55,14439.0,Greece,61.20
70758,542102,21519,GIN & TONIC DIET GREETING CARD,72,2011-01-25 13:26:00,0.36,12744.0,Singapore,25.92
72985,542276,82551,LAUNDRY 15C METAL SIGN,12,2011-01-27 10:19:00,1.45,12764.0,Lebanon,17.40
89570,543911,21485,RETROSPOT HEART HOT WATER BOTTLE,6,2011-02-14 12:46:00,4.95,17829.0,United Arab Emirates,29.70
100810,544838,22915,ASSORTED BOTTLE TOP MAGNETS,12,2011-02-24 10:34:00,0.42,12565.0,Saudi Arabia,5.04
103598,545072,22930,BAKING MOULD HEART MILK CHOCOLATE,18,2011-02-28 08:43:00,2.55,12781.0,Czech Republic,45.90
119191,546533,20886,BOX OF 9 PEBBLE CANDLES,12,2011-03-14 13:53:00,1.95,15388.0,Canada,23.40
152712,549687,20685,DOORMAT RED RETROSPOT,2,2011-04-11 13:29:00,7.95,12363.0,Unspecified,15.90
157299,550201,22423,REGENCY CAKESTAND 3 TIER,16,2011-04-15 10:25:00,10.95,12769.0,Brazil,175.20
164464,550644,22722,SET OF 6 SPICE TINS PANTRY DESIGN,7,2011-04-19 16:19:00,3.95,12733.0,USA,27.65
168149,551013,22839,3 TIER CAKE TIN GREEN AND CREAM,1,2011-04-26 10:54:00,14.95,15108.0,European Community,14.95
181140,552449,22693,GROW A FLYTRAP OR SUNFLOWER IN TIN,24,2011-05-09 13:49:00,1.25,12355.0,Bahrain,30.00
217684,555931,22784,LANTERN CREAM GAZEBO,3,2011-06-08 08:31:00,4.95,17828.0,Malta,14.85
395472,571035,21238,RED RETROSPOT CUP,8,2011-10-13 12:50:00,0.85,12446.0,RSA,6.80

## Filter by a range of values using `between()`

The method `between()` allows to filter within a given range. In the next example, find only the uitary prices that are between 20 and 30.

In [23]:
filter_between = retail_data[retail_data['UnitPrice'].between(20,30)]
filter_between

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
141,C536379,D,Discount,-1,2010-12-01 09:41:00,27.50,14527.0,United Kingdom,-27.50
2251,536569,21761,WOOD AND GLASS MEDICINE CABINET,1,2010-12-01 15:35:00,29.95,16274.0,United Kingdom,29.95
5243,536851,22503,CABIN BAG VINTAGE PAISLEY,6,2010-12-03 09:49:00,29.95,12967.0,United Kingdom,179.70
5249,536851,22504,CABIN BAG VINTAGE RETROSPOT,6,2010-12-03 09:49:00,29.95,12967.0,United Kingdom,179.70
7006,536985,22504,CABIN BAG VINTAGE RETROSPOT,1,2010-12-03 14:40:00,29.95,15373.0,United Kingdom,29.95
...,...,...,...,...,...,...,...,...,...
533678,581098,22782,SET 3 WICKER STORAGE BASKETS,2,2011-12-07 11:42:00,24.95,14911.0,EIRE,49.90
533682,581099,23485,BOTANICAL GARDENS WALL CLOCK,1,2011-12-07 11:43:00,25.00,18219.0,United Kingdom,25.00
535048,581182,POST,POSTAGE,4,2011-12-07 15:56:00,28.00,12783.0,Portugal,112.00
538070,581395,23485,BOTANICAL GARDENS WALL CLOCK,1,2011-12-08 13:18:00,25.00,16892.0,United Kingdom,25.00
539888,581449,23485,BOTANICAL GARDENS WALL CLOCK,1,2011-12-08 17:37:00,25.00,12748.0,United Kingdom,25.00